.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.signup{
  width: 370px;
  margin: 10px auto;
  /* border: 1px solid brown; */
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 0px 20px rgb(171, 155, 185);
}
.forms{
  width: 100%;
  gap:26px;
  margin: 10px auto;
}
.cont{
  margin: 10px auto;
}
.forms .form input{
  width: 100%;
}
body{
  background: linear-gradient(to right, rgb(197, 234, 197), gray);
}

.msg, .msg2{
  display: none;
  justify-content: center;
}
.msg1{
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.msg1:hover{
  text-decoration: underline;
}
.sign-btn:hover{
  text-decoration: underline;
}
.sign-btn{
  cursor: pointer;
}
.temp{
  display: none;
  justify-content: center;
  color: chocolate;
}